@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the Custom Pool and Spa sample application! : )</p>

<p>Please visit one of the following pages:</p>

<ul>
    <li>@Html.ActionLink("Addresses", "Index", "addresses")</li>
    <li>@Html.ActionLink("Customers", "Index", "customers")</li>
    <li>@Html.ActionLink("Customers1", "Index", "customers1")</li>
    <li>@Html.ActionLink("ServiceAddresses", "Index", "serviceaddresses")</li>
</ul>
<ul>
    <li>@Html.ActionLink("Months", "Index", "months")</li>
    <li>@Html.ActionLink("ChlorineLevels", "Index", "chlorineLevels")</li>
</ul>